*{
    margin:0;
    padding: 0;
}

/*header*/
#img1{
    width: 100%;
    height: 700px;
}
#img2{
     width: 100%;
     height: 700px;
 }
#header{
    width:100%;
    height: 700px;
    position: relative;
}
#nav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(128, 128,128,0.1);
    width: 100%;
    height: 30px;
}
#nav-ul{
    list-style: none;
    color: white;
    font-weight: bolder;
}
#nav-ul li{
    float: left;
    line-height: 30px;
    margin-left: 145px;
}
.nav-li{
    text-decoration: none;
    color: white;
}
.nav-li:hover{
    color: yellow;
    cursor: pointer;
}

/*container*/
#container{
    background: url("../img/bg.png");
    width: 100%;
    height: 100%;
    position: absolute;
}
#container .img{
    border: 5px solid #fff;
    -webkit-box-shadow: 2px 2px 2px rgba(0,0,0, .5);
    -moz-box-shadow: 2px 2px 2px rgba(0,0,0, .5);
    box-shadow: 2px 2px 2px rgba(0,0,0, .5);
    position: absolute;
    top:-500px;
    left: -500px;
    background-repeat: no-repeat;
    background-size:100% 100%;
    cursor: pointer;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
#container span{
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: 750px 500px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
/*load*/
#load1{
    display: none;
    position: fixed;
    top: 25%;
    left: 35%;
}
#top{
    background: black;
    width: 310px;
    height: 30px;
}
#delete{
    color: white;
    float: right;
    line-height: 30px;
    cursor: pointer;
}
#center{
    background: white;
    width: 310px;
    height: 200px;
    position: relative;
}
#form{
    position: absolute;
    top: 30px;
    left: 20px;
}
#bottom1{
    position: absolute;
    left: 10px;
    top: 110px;
}
#sub,#but{
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}
#but{
    margin-left: 30px;
}
/*textarea*/
#mes{
    background: rgba(0, 0, 0, 0.5);
    width: 400px;
    height: 300px;
    display: none;
    position: fixed;
    top: 25%;
    left: 30%;
}
#form1{
    position: absolute;
    left: 50px;
    top: 30px;
}
#are{
    width: 300px;
    height: 200px;
}
#sub1{
    float: right;
    width: 90px;
    height: 30px;
    border: none;
    background: black;
    color: white;
    font-weight: bolder;
    cursor: pointer;
    margin-top: 20px;
}
#zgh{
    color: white;
    margin-top: 5px;
    font-weight: bolder;
    display: inline-block;
}
#delete1{
    color: white;
    font-weight: bolder;
    float: right;
    cursor: pointer;
}
/*about*/
#about{
    background: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 300px;
    display: none;
    position: fixed;
    top: 25%;
    left: 30%;
    color: white;
    font-weight: bolder;
}
#pro li{
    margin-top: 20px;
    margin-left: 20px;
}
#delete2{
    color: white;
    font-weight: bolder;
    float: right;
    cursor: pointer;
}
#myLife{
    background: url("../bg.jpg");
    width: 100%;
    height: 550px;
    position: relative;
    top: 545px;
}
#myLife1{
    /*background: #bbbbbb;*/
    width: 940px;
    height: 450px;
    margin: 60px auto;
    position: relative;
    top: 50px;
    /*border: 1px solid red;*/
}
#myLife #myLife1 img{
    padding: 10px 10px 15px;
    background: #fff;
    border: 1px solid white;
    position: absolute;

    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
#myLife img:hover{
    -webkit-transform: rotate(0deg) ;
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);

    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 10px 10px 15px #ccc;
    z-index: 2;
}
.pic1{
    left: 400px;
    top: 0;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    transform: rotate(-5deg);
}

.pic2{
    top: 0;
    left: 600px;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.pic3{
    bottom: 0;
    right: 0;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

.pic4{
    bottom:0;
    left:300px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.pic5{
    bottom: 0;
    left: 0;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}

.pic6{
    top: 0;
    left:0;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    transform: rotate(10deg);
}

.pic7{
    top: 0;
    left: 850px;
    -webkit-transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    transform: rotate(20deg);
}

.pic8{
    bottom: -20px;
    right: 630px;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    transform: rotate(5deg);
}

.pic9{
    top: 90px;
    left: 550px;
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    transform: rotate(15deg);
}

.pic10{
    left:180px;
    top:20px;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    transform: rotate(-10deg);
}


