*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../images/session.jpg");
    background-repeat: no-repeat;
    background-size: 100% 650px;
}
#container{
    background: rgba(57, 137, 227, 0.3);
    height: 350px;
    width: 400px;
    margin: 100px auto;
}
label:not(#a,#b){
    width: 60px;
    height: 20px;
    display: inline-block;
}
#tex,#pas,#tex1,#ema,#rad,#rad1,#sub{
    margin-top: 30px;
}
#a,#b,#c,#d,#e,#f,#sub{
    margin-left: 20px;
}